// ========================== Variables ==========================
$my-primary: #4faaff;
$my-secondary: #ff1b72;
$my-grad-list: $my-primary 0%,
$my-secondary 100%;
$my-background: rgb(23, 26, 26);
$my-text-color: rgb(246, 246, 246);
$card-background: rgba(255, 255, 255, 0.1);

$my-gradient: linear-gradient(to bottom right,
    darken($my-primary, 55%),
    darken($my-secondary, 50%));


$sidebar-width: 30%;
$content-area-width: 70%;
$content-margin: 16px;
$margin-adjusted-percentage: calc(100% - 2 * #{$content-margin});
$path-card-height: 60px;

$sidebar-margin: 12px;
$sidebar-adjusted-size:  calc(100% - 2 * #{$sidebar-margin});

$row-height: 36px;
$card-content-side-margin: 5px;

$theme-colors: ("primary": $my-primary,
    "secondary": $my-secondary,
    "body-bg": $my-background);

// ======================== End Variables ========================

@import "../node_modules/bootstrap/scss/bootstrap";

// ============================ Mixins ============================



@mixin normal-button($button-color: $my-primary, $text-color: $my-primary, $border-color: $button-color) {
    color: $text-color;
    background-color: rgba($button-color, 0.2);
    border-color: $border-color;
    z-index: 1;
    width: 100%;

    &:hover {
        border-color: darken($border-color, 10%);
        color: darken($text-color, 10%);
        background-color: darken(rgba($button-color, 0.2), 10%);
    }

    &:active {
        border-color: lighten($border-color, 10%);
        color: lighten($text-color, 10%);
        background-color: lighten(rgba($button-color, 0.4), 10%);
    }
}

@mixin primary-button {
    @include normal-button;
}

@mixin secondary-button {
    @include normal-button($my-secondary, $my-secondary, $my-secondary);
}

// template for a full-page background card for a chart
@mixin content-card {
    position: relative;
    background: $card-background;
    width: $margin-adjusted-percentage;
    height: calc(#{$margin-adjusted-percentage} - #{$path-card-height} - #{$content-margin});
    margin: $content-margin;
    border-radius: 10px;
    display: none; //sets all cards to not display by default. Displaying is handled in InterfaceEventController.ts
}

@mixin sidebar-options-card {
    position: relative;
    background: $card-background;
    margin: $sidebar-margin;
    margin-top: 0px;
    width: $sidebar-adjusted-size;
    //padding: $sidebar-margin;
    display: none; //sets all cards to not display by default. Displaying is handled in InterfaceEventController.ts
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@mixin input-field-styling {
    background: rgba(white, 0.1);
    color: white;
    border-radius: 5px;
    border: 0px;
    width: 100%;
    height: 100%;
    padding-left: 8px;

    &::placeholder {
        color: $my-text-color;
    }

    &::-webkit-calendar-picker-indicator {
        opacity: 0.1;
    }
}

@mixin header-row-style($head-height: $row-height + 16px) {
    margin-top: -$sidebar-margin;
    background-color: rgba($card-background, 0.2);
    margin-left: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: $head-height;


    h3 {
        width: 100%;
        color: $my-text-color;
        text-align: center;
        height: 100%;
        line-height: $head-height;
    }

}

// ========================== End Mixins ==========================

// =========================== Style Fixes ===========================


button:focus,
input:focus,
select:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid transparent;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid transparent;
}

label {
    color: $my-text-color;
}

input,
select,
button {
    height: 100%;
    //font-size: 20px;
    overflow: hidden;
}

p,
label {
    //font-size: 25px;
}

.row {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
    margin-right: 10px;
    height: $row-height;

    p,
    label {
        font-size: calc($row-height * 0.8);
        vertical-align: bottom;
    }

    .col,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        height: 100%;
    }
}

option {
    background-color: $card-background;
    color: $my-text-color;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

// ========================= End Style Fixes =========================

// ======================== Sidebar Styles ========================
#sidebar {
    position: fixed;
    height: 100vh;
    width: $sidebar-width;
    top: 0;
    left: 100% - $sidebar-width;
    background-color: $card-background;
    overflow-y: scroll;
    overflow-x: hidden;

    .sidebar-header {
        //position: -webkit-sticky;
        //position: sticky;
        top: 0%;
        text-align: center;
        color: $my-text-color;
        cursor: default;
        margin: $sidebar-margin;
        margin-top: $sidebar-margin / 2;
        vertical-align: center;
        pointer-events: visible;
        z-index: 5;
    }

    hr {
        margin-left: 20px;
        margin-right: 20px;
    }

    #treemapOptionsSidebarCard {
        @include sidebar-options-card;

        //border: 10px solid rgba($my-primary, 0.5);
        #sizeSelector {
            @include input-field-styling;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        #colorSelector {
            @include input-field-styling;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        .treemapColors {
            .colorInputs {
                overflow: hidden;
                text-overflow: clip;

                $labels-height: 20px;
                
                #combinedRow{
                    height: $row-height + $labels-height;
                }

                label {
                    font-size: 14px;
                    color: $my-text-color;
                    display: block;
                    height: $labels-height;
                    text-overflow: clip;
                    white-space: nowrap;
                    max-width: 100%;
                }

                #pickerBackground {
                    @include input-field-styling;
                    padding-left: 0;
                    height: $row-height;
                    padding: 4px;

                    input {
                        width: 100%;
                        height: $row-height;
                        visibility: hidden;
                    }

                    label {
                        cursor: pointer;
                        height: $row-height - 8px;
                        width: calc(100%);
                        border-radius: 5px;
                        top: 4px;
                    }

                    #fakeSafePicker {
                        background-color: #008000;
                    }

                    #fakeDangerPicker {
                        background-color: #ff0000;
                    }

                }
                .dangerThresholdInput{
                    height: $row-height !important;
                }

                .thresholdTooltip {
                    position: relative;
                    display: inline-block;
                    border-bottom: 1px solid rgba($my-primary, 0.3);

                    .thresholdTooltipText {
                        visibility: hidden;
                        white-space: pre-line;
                        width: 285px;
                        line-height: 1;
                        background-color: black;
                        color: $my-text-color;
                        text-align: center;
                        border-radius: 6px;
                        padding: 5px 0;
                        position: absolute;
                        z-index: 2;
                        top: -5px;
                        right: 110%;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 15%;
                            left: 100%;
                            margin-top: -10px;
                            border-width: 10px;
                            border-style: solid;
                            border-color: transparent transparent transparent black;
                        }
                    }

                    &:hover {
                        .thresholdTooltipText {
                            visibility: visible;
                        }
                    }
                }

                .colorGradientBar {
                    height: $row-height;
                    background-image: linear-gradient(to right, green, red);
                    position: relative;
                    margin-bottom: 15px;
                    border-radius: 5px;
                }
            }
        }

        #optionsGridContainer {

            #headerRow {
                @include header-row-style();
                border-radius: 0px;
                margin-top: 0;
                margin-left: 0;
                top: 0;
            }

            #from,
            #to {
                width: 100%;
            }

            input {
                @include input-field-styling;
                //margin: 1px $sidebar-margin;
                width: 100%;
            }


        }

    }

    #chart2OptionsSidebarCard {
        @include sidebar-options-card;
        height: 200px;

        #optionsGridContainer {

            #headerRow {
                @include header-row-style();
                border-radius: 0px;
                margin-top: 0;
                margin-left: 0;
                top: 0;
            }
        }
    }

    #chart3OptionsSidebarCard {
        @include sidebar-options-card;
        height: 200px;

        #optionsGridContainer {
            #headerRow {
                @include header-row-style();
                border-radius: 0px;
                margin-top: 0;
                margin-left: 0;
                top: 0;
            }
        }
    }

    #chartSelectBar {
        width: $sidebar-adjusted-size;
        margin-left: $sidebar-margin;
        margin-right: $sidebar-margin / 2;
        margin-bottom: 1px;

        .row {
            margin-left: 0px;
            margin-right: 0px;

            .col-md-4 {
                padding: 5px;
                padding-bottom: 0;
            }

            #left {
                padding-left: 0px;
            }

            #right {
                padding-right: 0px;
            }
        }

        button {
            width: 100%;
            height: 50px;
            color: $my-text-color;
            border: none;
            border-bottom: 2px solid rgba($my-primary, 0.5);
            background: transparent;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;

            &:hover {
                border-bottom: 2px solid rgba($my-primary, 1);
                background: rgba($card-background, 0.5);
            }

            &:active {
                border-bottom: 2px solid rgba($my-primary, 0.8);
                background: rgba($card-background, 0.3);
            }
        }

        .active {
            border-bottom: 2px solid rgba($my-primary, 0.8);
            background: rgba($card-background, 0.3);

            &:hover {
                border-bottom: 2px solid rgba($my-primary, 1);
                background: rgba($card-background, 0.5);
            }

            &:active {
                border-bottom: 2px solid rgba($my-primary, 0.8);
                background: rgba($card-background, 0.6);
            }
        }

        .row {
            margin-bottom: -1px;
            margin-left: 0px;
            margin-right: 0px;
            height: auto;
        }
    }

    #fileFilterCard {
        position: relative;
        background: $card-background;
        margin: $sidebar-margin;
        margin-top: 2 * $sidebar-margin;
        width: $sidebar-adjusted-size;
        padding: 0;
        padding-bottom: 5px;
        border-radius: 10px;

        #headerRow {
            @include header-row-style();
        }

        #fileListCard {
            position: relative;
            background: rgba(black, 0.2);
            width: 100%;
            padding: $sidebar-margin / 2;
            border-radius: 10px;

            #fileList {
                width: $sidebar-adjusted-size;
                min-height: 60px;
                max-height: 160px;
                margin-left: $sidebar-margin;
                margin-right: $sidebar-margin;
                overflow-y: scroll;
                overflow-x: hidden;
                padding: 5px;

                .row {
                    width: 100%;
                    height: auto;
                }
            }

        }

        #fileSelector {
            @include input-field-styling;
        }



        #fileFilterButton {
            @include primary-button;
        }

        #clearAllButton {
            @include secondary-button;
        }

    }

    #urlOptionsCard {
        position: relative;
        background: $card-background;
        margin: $sidebar-margin;
        margin-top: 2 * $sidebar-margin;
        width: $sidebar-adjusted-size;
        padding: 0;
        border-radius: 10px;
        padding-bottom: 5px;

        #headerRow {
            @include header-row-style();
        }

        #copyURLOptionsButton {
            @include primary-button;
            z-index: 5;
        }

        h3 {
            width: 100%;
            color: $my-text-color;
            text-align: center;
        }

        p {
            margin-left: 5%;
        }

        input {
            @include input-field-styling;
        }
    }

    p {
        color: $my-text-color;
    }

    #fileListRow {
        height: auto;
    }
}

// ====================== End Sidebar Styles ======================

// ====================== Body Content Styles ======================

html {
    width: 100%; //this is here to make the gradient fit
    height: 100%; //this is here to make the gradient fit
    overflow-y: hidden; // removes the scrollbar. Currently, our app doesn't scroll.
}

body {
    width: 100%; //this is here to make the gradient fit
    height: 100%; //this is here to make the gradient fit
    background: $my-gradient;
    font-family: "Quicksand", sans-serif;
    overflow: hidden;
}

// ==================== End Body Content Styles ====================

// ======================== Chart Card Styles ========================
#pathCard {
    input {
        @include input-field-styling;
    }

    position: relative;
    background: $card-background;
    width: $margin-adjusted-percentage;
    height: $path-card-height;
    margin: $content-margin;
    border-radius: 10px;
    padding: 10px;

    label {
        overflow: hidden;
        display: inline;
        font-size: 30px;
        line-height: 35px;
        //width: 80px;
    }

    input {
        width: calc(100% - 150px);
        cursor: default;
        transform: translate(0, -2.5px);
    }
}

#treeMapCard {
    @include content-card;

    #TreemapBackButton {
        @include secondary-button;

        cursor: zoom-out;
        position: relative;
        width: $margin-adjusted-percentage;
        height: calc(#{$margin-adjusted-percentage} * 0.1 - #{$content-margin});
        margin: $content-margin;
    }


    #treeMapChart {
        position: relative;
        height: calc(#{$margin-adjusted-percentage} * 0.9 - #{$content-margin});
        width: $margin-adjusted-percentage;
        margin: $content-margin;
        margin-top: 0;
    }
}

#codeDuplicationCard {
    @include content-card;
    $card-margin: 10px;
    $card-percentage: calc(100% - 2 * #{$card-margin});
    $grid-color: rgba($my-text-color, 0.2);

    .card-columns{ column-count: 4; }

    #duplicatesListDiv{
        position: absolute;
        width: 100%;
        height: 70%;
        bottom: 0;
    }

    #duplicatesList {
        position: relative;
        background: rgba(black, 0.2);
        width: $margin-adjusted-percentage;
        height: $margin-adjusted-percentage;
        margin: $content-margin;
        border-radius: 10px;
        padding: $content-margin;
        #gridContainer
        {
            width: $card-percentage;
            height: $card-percentage;
            margin: $card-margin;
        }
        span{
            margin: 0;
            overflow: hidden;
            text-overflow: clip;
        }
        .row{ 
            height: auto;
            color: $my-text-color;
            padding: 0;
            margin: 0px;
            margin-top: -1px;
            border-bottom: 1px solid $grid-color;
            &:last-child{
                border-bottom: 0;
            }
        }
        overflow-y: scroll;
        .card{
            background-color: $card-background;
            border-radius: 5px;

            div[class*="col-"]{
                padding-left: 5px;
                padding-right: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                border-right: 1px solid $grid-color;
                margin-right: -1px;
                &:last-child{
                    border-right: 0;
                }
            }
        }
        #labelRow{
            border-bottom: 2px solid $grid-color;
            color: rgba($my-text-color, 0.4);
            text-align: center;
        }
    }
}

#statsCard {
    @include content-card;
}

// ====================== End Chart Card Styles ======================

// ======================== Content Area Styles ========================
#contentArea {
    position: relative;
    width: $content-area-width;
    height: 100%;
    margin: 0;
}

// ====================== End Content Area Styles ======================

// ========================== Chart Styles ==========================

$m: 0; // margin

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.feature {
    position: relative;
    width: calc(100% - #{$m} * 2 * 1px);
    height: calc(100% - #{$m} * 2 * 1px);
    margin: $m * 1px;
    overflow: hidden;
}

.node {
    position: absolute;
    background: transparent url("") no-repeat 50% / cover;
    overflow: hidden;
    opacity: 0.8;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
    cursor: pointer;
    border: 1px white groove;

    .label {
        display: inline;
        font-family: sans-serif;
        color: #000000;
        font-weight: 500;
        position: absolute;
        padding: 0;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: color 0.4s, opacity 0.8s, filter 0.8s;
    }

    &.hide {
        // zoom in
        opacity: 0;
        pointer-events: none;

        .label {
            filter: blur(10px);
        }
    }

    &:hover {
        .label {
            color: #585858;
        }
    }

    &.level-0 {
        display: none;
    }

    &.level-1 {
        z-index: 3;
        font-size: 3vmin;
    }

    &.level-2 {
        z-index: 2;
        font-size: 2.5vmin;
    }
}

.mouseHover {
    position: absolute;
    white-space: pre-line;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 14px sans-serif;
    padding: 5px;
    text-align: center;
    z-index: 4;
}


// ======================== End Chart Styles ========================


// ===================== File Filter Card styling =====================

.fileFilterPanel {
    position: relative;
    display: inline-block;
    height: 25px;
    background-color: rgba($card-background, 0.3);
    border-radius: 25px;
    margin: $sidebar-margin;
    cursor: default;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;

    .fileName {
        display: inline-flex;
        position: relative;
        text-indent: calc(50% - height);
        padding-left: 5px;
        padding-right: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: calc(100% - 27px);
    }


    .btn-circle {
        cursor: pointer;
        position: absolute;
        pointer-events: visible;
        top: 50%;
        right: 0%;
        transform: translate(0%, -50%);
        width: 25px !important;
        height: 25px !important;
        line-height: 25px;
        padding: 0;
        border-radius: 50%;
        border-width: 0px;
        border-color: $my-secondary;
        background-color: rgba($my-secondary, 0.5);
        color: rgba($card-background, 0.6);
        overflow: visible;

        &:focus {
            outline: none !important;
            box-shadow: none !important;
            border: 2px solid transparent;
        }

        &:hover {
            background-color: rgba($my-secondary, 0.7);
            box-shadow: 0 5px 15px rgba($my-secondary, 0.8);
        }
    }
}


// =================== End File Filter Card styling ===================

// ======================== Scrollbar styling ========================


/* width */
::-webkit-scrollbar {
    width: 10px;
}



/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba($card-background, 0.3);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba($card-background, 0.4);
}

// ====================== End Scrollbar styling =====================


// ========================== Switch styling =========================

.switch {
    $switch-margin: 4px;
    $switch-height: $row-height;
    $slider-height: $switch-height - (2 * $switch-margin);
    $transition-length: 0.3s;

    position: relative;
    display: inline-block;
    width: 100%;
    height: $row-height;
    border-radius: $switch-height;
    background-color: transparent;



    input {
        position: absolute;
        -webkit-appearance: none;
        //-moz-appearance: none;
        //appearance: none;

        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .slider {
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.3);
        border-radius: $switch-height;
        transition: ease $transition-length;
        z-index: 1;
        border-width: 0px;
        border-style: solid;
        border-color: rgba($my-secondary, 0.3);
        //box-shadow: 0 5px 15px rgba($my-secondary, 0.2);

        &::after {
            content: 'Blacklist';
            overflow: hidden;
            color: white;
            text-align: center;
            font-size: $slider-height - 2.5 * $switch-margin;
            position: absolute;
            z-index: 2;
            width: 50%;
            height: $slider-height;
            border-radius: $slider-height;
            background-color: rgba(black, 0.5);
            top: 50%;
            left: $switch-margin;
            transform: translate(0%, -50%);
            pointer-events: none;
            -webkit-transition: ease $transition-length;
            transition: ease $transition-length;
        }
    }

    input:checked+.slider {
        background-color: rgba(white, 0.3);
        border-color: rgba($my-primary, 0.3);
        //box-shadow: 0 5px 15px rgba($my-primary, 0.2);

    }

    input:checked+.slider:after {
        content: 'Whitelist';
        color: black;
        transform: translate(calc(100% - 2 * #{$switch-margin}), -50%);
        background-color: rgba(white, 0.5);
    }

}

// ======================== End Switch styling =======================